<h1>Edit Recipe</h1>

<%= @recipe.name %><br>
<%= @recipe.ingredients %><br>
<%= @recipe.cook_time %><br>

<form action="/recipes/<%= @recipe.id %>" method='post'>
    <input type='hidden' id='hidden' name='_method' value='patch'>
    <label for='name'>Name:</label>
        <input type='text' name='name' value='<%= @recipe.name %>'><br>
    <label for='ingredients'>Ingredients:</label>
        <input type='text' name='ingredients' value='<%= @recipe.ingredients %>'><br>
    <label for='cook_time'>Cook Time:</label>
        <input type='text' name='cook_time' value='<%= @recipe.cook_time %>'><br>
    <input type='submit' value='Submit'>

</form>