<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>List of All Recipes</h1>
    <% @recipes.each do |recipe| %>
      <h1>Recipe ID: <%= recipe.id %></h1>
      <p>Name: <%= recipe.name %><p>
      <p>Ingredients: <%= recipe.ingredients %><p>
      <p>Cooking time: <%= recipe.cook_time %> minutes<p>
      <a href="/recipes/<%= recipe.id %>">Show</a>
    <% end %><br>
    <h3>Average Cooking Time:
    <% cook_time = 0 %>
    <% @recipes.each do |recipe| %>
      <% cook_time += recipe.cook_time %>
    <% end %>
    <%= cook_time / @recipes.length %> minutes</h3>
    <a href="/recipes/new">Create a New Recipe</a>
  </body>
</html>
