<h3><%=@recipe.name%></h3>
<p>Ingredients</p>
<h3><%=@recipe.ingredients%></h3>
<p>Cook Time</p>
<h3><%=@recipe.cook_time%></h3>

<%# <form action="/recipes/<%=@recipe.id/edit"> %>
    <%# <input type="submit" value="Edit Recipe"/>
</form> %>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<%# <form action="/recipes">
    <input type="submit" value="Recipe Index"/>
</form> %>