<h1>Grandma's Recipes</h1>

<<<<<<< HEAD
<a> <%= @recipe.name %> </a>
 <h1><%=@recipe.ingredients%></h1>
 <h1><%=@recipe.cook_time.floor%> minutes</h1>


<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
=======
<!--<form action="/recipes/<%= @recipe.id %>/delete" method="post">-->
<!--  <input id="hidden" type="hidden" name="_method" value="delete">-->
<!--  <input type="submit" value="delete">-->
<!--</form>-->
>>>>>>> 9dd77d5410a461265fcee8943b933c9f9cf23c5b
