<h1><%= @recipe.name %></h1>

<h2>Ingredients</h2>
    <ul>
        <% @recipe.ingredients.split.each do |ingredient|%>
        <li><%= ingredient %></li>
        <% end %>
    </ul>

<h3>Cook Time: <%= @recipe.cook_time %></h3>

<a href="/recipes">See All Recipes</a><br><br>

<a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a><br><br>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Recipe" id="delete">
</form>



